<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<style>
    .main {
        transition: .7s;
        margin: 0 auto;
        width: 300px;
        height: 300px;
        background-color: red;
    }

    .main:hover {
        color: red;
        background-color: blue;
    }
</style>
<script>
    window.onload = () => {
        let main = document.querySelector('.main')
        let flag = true

        main.onclick = () => {
            console.log(main)
            if (flag) {
                main.style.transition = '1s'
                flag = false
            } else {
                main.style.transition = '2s'
                flag = true
            }
        }
    }
</script>

<body>
    <div class="main">
        <div class="sub">こんばんわ</div>
    </div>
</body>


</html>