    html, body {
        color: #636b6f;
        font-family: 'Raleway', sans-serif;
        font-weight: 200;
        height: 100vh;
        margin: 0;
    }

    a {
        color: rgb(0, 0, 0);
        text-decoration: none;
        transition: .3s;
    }

    a:hover {
        background-color: rgb(122, 122, 169);
    }

    .header_title {
        font-size: 1.8em;
    }

    .container,
    header,
    nav,
    main,
    footer {
        padding: 50px 50px 20px;
    }

    .main_container .audio_content .content_bar {
        width: 80%;
        font-size: 1.4em;
        padding: 0 24px;
        border-radius: 2px;
        box-shadow: 2px 3px 6px 2px gray;
    }

    .main_container .audio_content .fas {
        display: inherit;
    }

    .main_container .audio_content .content_name {
        padding: 12px 5px;
        max-width: 20px;
        overflow: hidden;
    }

    .img_content .img {
        /* max-width: 250px; */
        display: block;
        margin: 0 auto;
        max-height: 250px;
    }

    @media screen and (max-width: 480px) {

        .main_container .audio_content .content_bar {
            width: 80%;
            font-size: 1.4em;
            padding: 0 24px;
            border-radius: 2px;
            box-shadow: none;
        }

        .img_content {
            position: relative;
            display: block;
            margin: 50px auto;
            font-size: 1.4em;
            height: 250px;
            width: 250px;
        }
        
        .img_content .border_bg {
            position: absolute;
            margin: 0 auto;
            opacity: 0;
            width: 102%;
            height: 102%;
            transition: .7s;
            border-radius: 9.3%;
            -moz-border-radius: 9.3%;
            -webkit-border-radius: 9.3%;
            background: linear-gradient(to right, rgba(64, 165, 190, 0.6), rgba(61, 167, 61, 0.6));
        }

        .img_content .img {
            position: absolute;
            margin: 0 auto;
            top: 1%;
            left: 1%;
            vertical-align: bottom;
            width: 100%;
            height: 100%;
            border-radius: 9.3%;
            -moz-border-radius: 9.3%;
            -webkit-border-radius: 9.3%;
            box-shadow: 1px 1px 15px rgba(0,0,0,0.3);
        }

        .main_container .audio_content .description_content {
            padding: 22px 5px;
            overflow: hidden;
            display: block;
            margin: 0 auto;
        }

        .main_container .audio_content .description_content {
            text-align: center;
            margin: 0 auto;
        }
    }