    html,body {
        color: #636b6f;
        font-family: 'Raleway', sans-serif;
        font-weight: 200;
        height: 100vh;
        margin: 0;
    }

    a {
        color: rgb(0, 0, 0);
        text-decoration: none;
        transition: .3s;
    }

    a:hover {
        background-color: rgb(122, 122, 169);
    }

    .header_title {
        font-size: 1.8em;
    }

    .container,
    header,
    nav,
    main,
    footer {
        padding: 50px 50px 0px;
    }
    
    /*----------------------------------------
     * コンテナ部分基底
     *----------------------------------------*/
    .main_container .audio_content .content_bar {
        width: 80%;
        font-size: 1.4em;
        padding: 0 24px;
        border-radius: 2px;
        box-shadow: 2px 3px 6px 2px gray;
    }

    .main_container .audio_content .fas {
        display: inherit;
    }

    .main_container .audio_content .content_name {
        padding: 12px 5px;
        max-width: 20px;
        overflow: hidden;
    }

    @media screen and (max-width: 480px) {

        /*----------------------------------------
         * 共通DOM
         *----------------------------------------*/
        header {
            margin: 0 -30px;
        }
         /*----------------------------------------
         * スライド部分
         *----------------------------------------*/
        .media_content {
            margin: 0 auto;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        /*----------------------------------------
         * 非要素クラス
         *----------------------------------------*/
        .none {
            display: none;
            opacity: 0;
        }

        /*----------------------------------------
         * 要素クラス
         *----------------------------------------*/
        .block {
            display: block;
            opacity: 1;
        }

        /*----------------------------------------
         * コンテナ部分基底
         *----------------------------------------*/
        .main_container .audio_content .content_bar {
            display: flex;
            width: 80%;
            font-size: 1.4em;
            padding: 0 24px;
            border-radius: 2px;
            box-shadow: none;
        }

        /*----------------------------------------
         * 画僧操作部分規基底
         *----------------------------------------*/
        .touch_ui {
            margin: 0;
        }

        /*----------------------------------------
         * 画像部分
         *----------------------------------------*/
        .img_content {
            position: relative;
            top: 0;
            left: 0;
            transition: .7s;
            display: block;
            margin: 0 auto;
            font-size: 1.4em;
            height: 250px;
            width: 250px;
        }

        .img_content .border_bg {
            position: absolute;
            transition: .7s;
            opacity: 0;
            width: 102%;
            height: 102%;
            transition: .7s;
            border-radius: 9.3%;
            -moz-border-radius: 9.3%;
            -webkit-border-radius: 9.3%;
            background: linear-gradient(to right, rgba(64, 165, 190, 0.6), rgba(61, 167, 61, 0.6));
        }

        .img_content .img {
            position: absolute;
            transition: .7s;
            top: 1%;
            left: 1%;
            vertical-align: bottom;
            width: 100%;
            height: 100%;
            border-radius: 9.3%;
            -moz-border-radius: 9.3%;
            -webkit-border-radius: 9.3%;
        }

        /*----------------------------------------
         * 再生ボタン
         *----------------------------------------*/
        .test {
            position: absolute;
            top: 38%;
            left: 42%;
        }

        .test:before {
            display: block;
            content: "";
            border: 32px solid transparent;
            /*top right bottom を透明化 */
            border-radius: 5px;
            border-left: 52px solid rgba(255, 255, 255, 0.5);
        }

        /*----------------------------------------
         * 停止ボタン
         *----------------------------------------*/
        .p_test {
            position: absolute;
            display: block;
            opacity: 0;
            top: 39%;
            left: 39%;
            width: 58px;
            height: 58px;
            border-width: 10px;
            border-color: rgba(255, 255, 255, 0.5);
            border-style: double;
            border-width: 0px 0 0px 56px;
        }

        /*----------------------------------------
         * 曲名
         *----------------------------------------*/
        .main_container .audio_content .ui_content {
            padding: 22px 5px;
            overflow: hidden;
            display: block;
            text-align: center;
        }

        /*----------------------------------------
         * 操作部品
         *----------------------------------------*/
        .main_container .description_content {
            margin: 0 auto;
            text-align: center;
        }

        /*----------------------------------------
         * 説明欄フォント
         *----------------------------------------*/
        .p_inner {
            margin-right: 15px;
            font-size: 0.73em;
        }

        /*----------------------------------------
         * コンテンツバー
         *----------------------------------------*/
        .main_content_ber {
            position: fixed;
            transition: .7s;
            right: 20px;
            bottom: 80px;
            padding: 10px;
            width: 28px;
            height: 28px;
            background-color: rgba(68, 184, 192, 0.9);
            border-radius: 50%;
        }

        /*----------------------------------------
         * モーダル部分
         *----------------------------------------*/
        .modal {
            position: fixed;
            margin: 0 auto;
            text-align: center;
            z-index: 3;
            transition: .7s;
            height: 100%;
            width: 100%;
            background-color: rgb(255, 255, 255);
        }

        .modal .close {
            font-size: 4em;
            position: fixed;
            top: 7px;
            right: 20px;
        }

        .modal .text_content {
            font-family: 'Raleway', sans-serif;
            margin: auto inherit;
            padding: auto inherit;
            font-size: 2em;
            padding: 70px 0 80px;
        }

        .clone {
            max-height: 250px;
            max-width: 300px;
            display: block;
            margin: 0 auto;
            border-radius: 10px;
            box-shadow: 1px 1px 2px #dee7ec;
        }

        /*----------------------------------------
         * モーダル部分
         *----------------------------------------*/
        .main_container .ui_content {
            padding: 22px 5px;
            font-size: 1.4em;
            overflow: hidden;
            display: block;
            text-align: center;
        }
    }